
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#ciudd{
    padding: 1vh;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 17px;
    padding-left: 1.5vw ;
    padding-right: 1.5vw;
}

#todasLasCiudades{
    width: 95vw;
    margin: 10vh auto;
    display: flex;
    flex-wrap: wrap;
    min-height: 40vh;

}

.divFotoCiudad:hover{
    box-shadow: 0vw 0vw 2vw 0vw black;

}

.divFotoCiudad{
    width: 75vw;
    height: 40vh;
    overflow: hidden;
    margin: 3vh auto;
    border-radius: 2vw;
    box-shadow: 0vw 0vw 1vw 0vw black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 2vw!important;
}

.divFotoCiudad:hover{
    box-shadow: 0vw 0vw 2vw 0vw black;

}


#componenteCiudad{
margin-left: 6vw;
margin-bottom: 4vh;
}


div#componenteCiudad .divFotoCiudad{
    width: 80vw;    
    margin-bottom: 5vh;
}

div#componenteCiudad #todasLasCiudades{
    width: 90vw;  
}




#notFound{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

#notFound img {
width: 40vw;

}

#homeyflecha{
 display:flex;
 justify-content:center;
 align-items:center;
  margin-top: 10vh;
  flex-direction: row;
}

#divhomeyflecha{
    display:flex;
    margin-left: 5vw;

}

#divFlechaVolver{
    width: 6vw;
    height: 5vw;
    margin-right: 2vw;
}

#flechaVolver{
 width: 6vw;
 padding: 0.3vw;
 margin-top: 1vh;
}

#flechaVolver:hover{
    padding: 0vw;
   }

#divHomeVolver{
  width: 7vw;
  height: 5vh;
}  

#homeVolver{
width: 7vw;
align-self: center;
padding: 0.3vw;
}

#homeVolver:hover{
    padding: 0vw;
}


/*Diseño pantalla grande*/

@media only screen and (min-width: 780px){
    #componenteCiudad{
        margin-left: 7.5vw;
        margin-bottom: 4vh;
        }

    .divenblanco{
        display: block!important;
        border-bottom: 1px solid hsl(199, 91%, 30%);
        margin-right: 3vw;
        margin-left: 3vw;
        height: 15vh;
    }

    #todasLasCiudades{
        width: 85vw;
        margin: 10vh auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    .divFotoCiudad:hover{
        box-shadow: 0vw 0vw 2vw 0vw black;
    
    }
    
    .divFotoCiudad{
        width: 40vw;
        height: 60vh;
        overflow: hidden;
        margin: 3vh auto;
        border-radius: 2vw;
        box-shadow: 0vw 0vw 1vw 0vw black;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .divFotoCiudad:hover{
        box-shadow: 0vw 0vw 2vw 0vw black;
    
    }

}


@media only screen and (min-width: 1150px){
    div.divenblanco{
        height: 18vh;
    }
}

@media only screen and (min-width: 1500px){
    div.divenblanco{
        height: 20vh;
    }
}
#loading{
    margin: 25vh 45vw 50vh 47vw;
}