
.todoTinerary{
    width: 80vw;
    margin-left: 2vw;
    margin-bottom: 4vh;
    margin-top: 2vh;
    background: linear-gradient(to bottom right, rgb(7, 102, 146), rgba(7, 102, 146, 0.692));
    box-shadow: 0vw 0vw 1vw 0.1vw rgba(0, 0, 0, 0.795);
    color: white;
    border-radius: 1vw;
    border: 2px solid white;

}

.TinerarySinVerMas{
    display: flex;

}



#imagenTinerary{
    align-self: center;
    margin: auto 5vw;
    border-radius: 100%;
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 10vh;
    box-shadow: 0vw 0vw 1vw 0.1vw black;
    border: 1px solid white;

}



#infoTinerary{
margin: 4vh 6vw;

}

#ratingDurationPriceTinerary{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8vh;
}

#ratingDurationPriceTinerary div {
    margin-right: 4vw;
}

div#rating {
    width: 5vw;
    height: 5vh;
}

div#rating img:hover {
    width: 3vw;
    margin-left: -0.4vw;
    cursor: pointer;
  
}
div#rating img {
    width: 2.5vw;
    margin-right: 0.4vw;
}



#tituloHashtagsTinerary{
    margin-right: 2vw;
}

#tituloHashtagsTinerary div{
    display: block;
    margin-bottom: 4vh;
    margin-top: -3vh;
}



#tituloTinerary{
    font-weight: bold;
    font-style: italic;
}

#hashtagsTinerary p{
margin-right: 1vw;
display: inline;
font-size: 2vh;
}


.todoTinerary button{
border: 1px solid rgb(255, 255, 255);
background-color: rgb(7, 102, 146);
color: white;
padding: 0vh 1vw;
margin-top: 2vh;
}

.todoTinerary button:hover{
    box-shadow: 0vw 0vw 1vw 0.1vw white;

}


@media only screen and (max-width: 780px){
   
    .TinerarySinVerMas{
        display: flex;
        flex-direction: column;

    
    }

    .todoTinerary{
        width: 69vw;
        margin-left: 8vw;
        margin-bottom: 4vh;
        margin-top: 2vh;
        background: linear-gradient(to bottom right, rgb(7, 102, 146), rgba(7, 102, 146, 0.692));
        box-shadow: 0vw 0vw 1vw 0.1vw rgba(0, 0, 0, 0.795);
        color: white;
        border-radius: 1vw;
        border: 2px solid white;

    }



    #imagenTinerary{
        align-self: center;
        margin: 3vh 5vw;
        border-radius: 100%;
        display: flex;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0vw 0vw 1vw 0.1vw black;
        border: 1px solid white;
        height: 20vw!important;
        width: 20vw!important;
    }
    



    #infoTinerary{
    margin: 4vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    }

    #ratingDurationPriceTinerary{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    }

   
    div#rating {
        width: 7vw;
        height: 5vh;
    }

    div#rating img:hover {
        width: 3vw;
        margin-left: -0.4vw;
        cursor: pointer;
    
    }
    div#rating img {
        width: 2.5vw;
        margin-right: 0.4vw;

    }


    #tituloHashtagsTinerary{
        text-align: center;
    }

    #tituloHashtagsTinerary div{
        display: block;
        margin-bottom: 3vh;
        margin-top: 3vh;
    }



    #tituloTinerary{
        font-weight: bold;
        font-style: italic;
    }

    #hashtagsTinerary p{
    display: inline;
    font-size: 2vh;
    }

    #divBoton{
        margin-top: 2vh;
        display:flex;
        justify-content: center;
        margin-right: 2vw;

    }

    .todoTinerary button{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(7, 102, 146);
    color: white;
    padding: 0vh 1vw;
    }

   
    .todoTinerary button:hover{
        box-shadow: 0vw 0vw 1vw 0.1vw white;

    }


}

